@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = null; // Layout kullanma
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Dashboard - Eğitim Portalı</title>

    <!-- Custom fonts for this template-->
    <link href="~/sbadmin2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/sbadmin2/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-graduation-cap"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Eğitim Portalı <sup>Admin</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/Home/AdminPanel">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                İçerik Yönetimi
            </div>

            <!-- Nav Item - Kurslar -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseKurslar"
                   aria-expanded="true" aria-controls="collapseKurslar">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Kurslar</span>
                </a>
                <div id="collapseKurslar" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#" id="kursListesi">Kurs Listesi</a>
                        <a class="collapse-item" href="#" id="kursEkle">Kurs Ekle</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Kategoriler -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseKategoriler"
                   aria-expanded="true" aria-controls="collapseKategoriler">
                    <i class="fas fa-fw fa-list"></i>
                    <span>Kategoriler</span>
                </a>
                <div id="collapseKategoriler" class="collapse" aria-labelledby="headingCategories" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="#" id="kategoriListesi">Kategori Listesi</a>
                        <a class="collapse-item" href="#" id="kategoriEkle">Kategori Ekle</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - Kullanıcılar -->
            <li class="nav-item">
                <a class="nav-link" href="#" id="kullaniciListesi">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Kullanıcılar</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">@Microsoft.AspNetCore.Http.SessionExtensions.GetString(Context.Session, "UserEmail")</span>
                                <img class="img-profile rounded-circle" src="~/sbadmin2/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/">
                                    <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Ana Sayfa
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Çıkış Yap
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                            <i class="fas fa-download fa-sm text-white-50"></i> Rapor Oluştur
                        </a>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Kurslar Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                                Toplam Kurslar
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalCourses">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-book fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Kategoriler Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                                Toplam Kategoriler
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalCategories">0</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-list fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Kullanıcılar Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-info shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                                Toplam Kullanıcılar
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalUsers">15</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-users fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Kayıtlar Card -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-warning shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                                Toplam Kayıtlar
                                            </div>
                                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="totalEnrollments">42</div>
                                        </div>
                                        <div class="col-auto">
                                            <i class="fas fa-user-graduate fa-2x text-gray-300"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Kurs Listesi -->
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Son Eklenen Kurslar</h6>
                                </div>
                                <div class="card-body">
                                    <div id="coursesList">
                                        <p class="text-muted text-center">Henüz kurs bulunmamaktadır.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Kategori Listesi -->
                        <div class="col-lg-6 mb-4">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Kategoriler</h6>
                                </div>
                                <div class="card-body">
                                    <div id="categoriesList">
                                        <p class="text-muted text-center">Henüz kategori bulunmamaktadır.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Eğitim Portalı &copy; 2025</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Çıkış yapmak istediğinize emin misiniz?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Mevcut oturumu sonlandırmak için "Çıkış Yap" butonuna tıklayın.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                    <button class="btn btn-primary" id="logoutBtn">Çıkış Yap</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/sbadmin2/vendor/jquery/jquery.min.js"></script>
    <script src="~/sbadmin2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/sbadmin2/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/sbadmin2/js/sb-admin-2.min.js"></script>

    // AdminPanel.cshtml dosyasının script bölümünde değiştirilecek JavaScript kodu

    // AdminPanel.cshtml dosyasının script bölümünü tamamen bu kodla değiştirin

    <script>
        $(document).ready(function() {
            // Dashboard verilerini yükle
            loadDashboardData();

            function loadDashboardData() {
                // Kursları say
                $.ajax({
                    url: "/Home/GetCourse",
                    type: "GET",
                    success: function(response) {
                        if (response.success) {
                            $("#totalCourses").text(response.data.length || 0);

                            // Son eklenen kursları göster
                            displayLatestCourses(response.data);
                        } else {
                            console.error("Kurslar yüklenirken hata:", response.message);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("Kurslar AJAX hatası:", error);
                    }
                });

                // Kategorileri say
                $.ajax({
                    url: "/Home/GetCategories",
                    type: "GET",
                    success: function(response) {
                        if (response.success) {
                            $("#totalCategories").text(response.data.length || 0);

                            // Kategorileri göster
                            displayCategories(response.data);
                        } else {
                            console.error("Kategoriler yüklenirken hata:", response.message);
                        }
                    },
                    error: function(xhr, status, error) {
                        console.error("Kategoriler AJAX hatası:", error);
                    }
                });
            }

            function displayLatestCourses(courses) {
                let html = '';
                if (courses.length === 0) {
                    html = '<p class="text-muted text-center">Henüz kurs bulunmamaktadır.</p>';
                } else {
                    // Son 5 kursu göster
                    const latestCourses = courses.slice(-5).reverse();

                    latestCourses.forEach(function(course) {
                        html += `
                            <div class="row mb-2">
                                <div class="col-8">
                                    <h6 class="mb-1">${course.title}</h6>
                                    <small class="text-muted">${course.categoryName || 'Kategorisiz'}</small>
                                </div>
                                <div class="col-4 text-right">
                                    <span class="font-weight-bold text-success">${course.price} TL</span>
                                </div>
                            </div>
                            <hr class="mt-2 mb-2">
                        `;
                    });
                }

                $("#coursesList").html(html);
            }

            function displayCategories(categories) {
                let html = '';
                if (categories.length === 0) {
                    html = '<p class="text-muted text-center">Henüz kategori bulunmamaktadır.</p>';
                } else {
                    categories.forEach(function(category) {
                        html += `
                            <div class="row mb-2">
                                <div class="col-9">
                                    <h6 class="mb-1">${category.name}</h6>
                                    <small class="text-muted">${category.description || 'Açıklama yok'}</small>
                                </div>
                                <div class="col-3 text-right">
                                    <span class="badge badge-primary">ID: ${category.id}</span>
                                </div>
                            </div>
                            <hr class="mt-2 mb-2">
                        `;
                    });
                }

                $("#categoriesList").html(html);
            }

            // Çıkış işlemi
            $("#logoutBtn").click(function(e) {
                e.preventDefault();
                $.ajax({
                    type: "POST",
                    url: "/Home/Logout",
                    success: function(response) {
                        if (response.success) {
                            window.location.href = "/";
                        }
                    },
                    error: function() {
                        alert("Çıkış işlemi sırasında bir hata oluştu.");
                    }
                });
            });

            // Sidebar menu click events - ÇALIŞAN LİNKLER
            $("#kursListesi").click(function(e) {
                e.preventDefault();
                // Kurs yönetim sayfasına yönlendir
                window.location.href = "/Home/CourseManagement";
            });

            $("#kursEkle").click(function(e) {
                e.preventDefault();
                // Kurs yönetim sayfasına yönlendir ve modal açılacak şekilde işaretle
                window.location.href = "/Home/CourseManagement?action=add";
            });

            $("#kategoriListesi").click(function(e) {
                e.preventDefault();
                // Kategori yönetim sayfasına yönlendir
                window.location.href = "/Home/CategoryManagement";
            });

            $("#kategoriEkle").click(function(e) {
                e.preventDefault();
                // Kategori yönetim sayfasına yönlendir ve modal açılacak şekilde işaretle
                window.location.href = "/Home/CategoryManagement?action=add";
            });

            $("#kullaniciListesi").click(function(e) {
                e.preventDefault();
                alert("Kullanıcı Yönetimi sayfası yakında eklenecektir.\n\nBu bölümde:\n• Tüm kullanıcıları görüntüleyebileceksiniz\n• Kullanıcı rollerini düzenleyebileceksiniz\n• Kullanıcıları aktif/pasif yapabileceksiniz");
            });
        });
    </script>

</body>
</html>