@{
    ViewData["Title"] = "Kayıt Ol";
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Eğitim Portalı kayıt sayfası">
    <meta name="author" content="Eğitim Portalı">

    <title>Eğitim Portalı - Kayıt Ol</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Hesap Oluştur!</h1>
                            </div>
                            <form class="user" id="registerForm">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="firstName"
                                               placeholder="Ad">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control form-control-user" id="lastName"
                                               placeholder="Soyad">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email"
                                           placeholder="E-posta Adresi">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                               id="password" placeholder="Şifre">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                               id="confirmPassword" placeholder="Şifre Tekrar">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Hesap Oluştur
                                </button>
                                <div class="alert alert-danger mt-3" id="registerError" style="display: none;"></div>
                                <div class="alert alert-success mt-3" id="registerSuccess" style="display: none;"></div>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="#">Şifremi Unuttum</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/Home/Login">Zaten hesabınız var mı? Giriş Yapın!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

    <script>
        $(document).ready(function() {
            $("#registerForm").submit(function(e) {
                e.preventDefault();

                var firstName = $("#firstName").val();
                var lastName = $("#lastName").val();
                var email = $("#email").val();
                var password = $("#password").val();
                var confirmPassword = $("#confirmPassword").val();

                // Basit doğrulama
                if (!firstName || !lastName || !email || !password || !confirmPassword) {
                    $("#registerError").text("Lütfen tüm alanları doldurun.").show();
                    $("#registerSuccess").hide();
                    return;
                }

                if (password !== confirmPassword) {
                    $("#registerError").text("Şifreler eşleşmiyor.").show();
                    $("#registerSuccess").hide();
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "/Home/RegisterUser",
                    data: {
                        firstName: firstName,
                        lastName: lastName,
                        email: email,
                        password: password,
                        confirmPassword: confirmPassword
                    },
                    success: function(response) {
                        if (response.success) {
                            $("#registerError").hide();
                            $("#registerSuccess").text(response.message).show();

                            // Form temizle
                            $("#registerForm")[0].reset();

                            // 3 saniye sonra giriş sayfasına yönlendir
                            setTimeout(function() {
                                window.location.href = "/Home/Login";
                            }, 3000);
                        } else {
                            $("#registerSuccess").hide();
                            $("#registerError").text(response.message).show();
                        }
                    },
                    error: function() {
                        $("#registerSuccess").hide();
                        $("#registerError").text("Bir hata oluştu. Lütfen daha sonra tekrar deneyin.").show();
                    }
                });
            });
        });
    </script>
</body>
</html>